.discussionPage .discussion:last-child hr {
  display: none;
}

.discussionPage #lastDiscussion {
  margin-bottom: 10px;
}

.pendingReviewButton {
  background: #f7de9a;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  cursor: default;
  text-transform: capitalize;
}
.statusButton {
  background: #7fd8cc;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  text-transform: uppercase;
}

.internshipIcon {
  background: #fbe6cc;
  border-radius: 11%;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.challengeIcon {
  background: #ccf0eb;
  border-radius: 11%;
  width: 40px;
  height: 40px;
  padding: 5px;
}
