/* .MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: red;
} */



.MuiPaper-root  .MuiFormControl-root {
    order: 2 !important;
}

.MuiIconButton-root:hover {
    background-color: transparent !important;
}

.MuiTableCell-head {
    padding-left: 0 !important
}
.MuiTableCell-body {
    padding-left: 0 !important
}

/* !! */
/* .MuiTableSortLabel-icon {
    opacity: 1 !important;
} */
