/* .news-page-details img {
  width: 75%;
  align-self: center;
  margin: 0 15%;
} */

#page_data_html img {
  width: 70% !important;
  align-self: center;
  margin: 0 15%;
}

.MuiTooltip-popper {
  width: max-content !important;
}

/* slider arrows css */
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #ff8f00 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before{
  /* margin-left: 10px; */
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #ff8f00 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next:before{
  margin-right: 10px;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #ff8f00 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
  position: relative !important;
  top: 0 !important;
  color: #ff8f00;
}

.slick-dots li.slick-active button:before {
    color:#ff8f00 !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #ff8f00;
    -webkit-font-smoothing: antialiased;
}

.slick-dots li button:before {
  font-size: 8px !important;
}

.slick-prev {
  left: 3px !important;
  z-index: 1;
}

.slick-next {
  right: 3px !important;
}

.slick-dots {
  position: relative;
  bottom: 0px !important;
}
