.download_as .css-yk16xz-control {
    position: relative;
    top: -9px;
    box-shadow: none !important;
    border: none !important;
    color: black;
    cursor: pointer;
}

.download_as .css-1wa3eu0-placeholder {
    color: black !important;
}

.download_as .css-1pahdxg-control {
    border: none !important;
    box-shadow: none !important;
    color: black;
}