.datepick::-webkit-input-placeholder {
    font-weight: 100 !important;
    color: #afb1b4
}
.datepick {
    font-weight: normal
}


.react-datepicker-popper[data-placement^="top"] {
    z-index: 5 !important;
    transform: translate3d(15px, 47px, 0px) !important; 
    margin-top: 10px !important
}

.css-26l3qy-menu {
    position: relative !important
}